
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>OTP</title>

<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">

<link rel='stylesheet prefetch'
	href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900|RobotoDraft:400,100,300,500,700,900'>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<link rel='stylesheet prefetch'
	href='http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css'>

<link rel="stylesheet" href="../../../css/ctrl/inputstyle.css">
<script src="../../../js/ctrl/validation.js"></script>


</head>

<body>
	<div class="container">
	
		<!-- <h1 class="title">Login</h1> -->
		<div class="card">
		<img id="profile-img" class="profile-img-card"  src="../../../images/ctrl/smalllogo.png" />
			
			<form action="admin_create_password.html">
				<div class="input-container">
					<input type="#{type}" id="#{label}" required="required" name="mobile"/> <label
						for="#{label}">Mobile Number</label>
					<div id="mobilebar" class="bar"></div>
					 <span id="error_mobile" class="text-danger"></span>
				</div>
				<!-- <div class="input-container">
					<input type="#{type}" id="#{label}" required="required" /> <label
						for="#{label}">Password</label>
					<div class="bar"></div>
				</div> -->
				<div class="button-container">
					<button>
						<span>Next</span>
					</button>
				</div>
			</form>
		</div>

</body>
</html>
